body
{
  margin: 0;
}

hr
{
  width: 80%
}

#cGlobal
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

    /* #cGlobal > div
    {
      padding-bottom: 20px;
    } */

    #cGlobal h2
    {
      text-align: center;
      padding: 10px;
    }

#cEnTete
{
  display: block;
  background-color: #677273;
  color: white;
  width: 100%;
  text-align: center;
}

#cMenu
{
  display: flex;
  width: 100%;
}

    #cMenu a
    {
      text-decoration: none;
      color: white;
      width: 100%;
    }

    .cBouton
    {
      display: block;
      background-color: #555D5E;
      text-align: center;
      padding: 10px;
      width: auto;
    }

    .cBouton:hover
    {
      background-color:#D3D3D3;
      border-color:#696969 #DCDCDC #DCDCDC #696969;
    }

#cMenuDeroulant
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #555D5E;
  width: 100%;
  padding-top: 15px;
}

    #cMenuDeroulant p
    {
      margin: 0 auto;
      height: 2em;
      line-height: 2em;
    }

    #cMenuDeroulant ul
    {
      display: inline;
      list-style-type:none;
      width: 100%;
      padding: 0;
    }

    #cMenuDeroulant li
    {
      background-color: #555D5E;
      width: 100%;
      text-align: center;
    }

    #cMenuDeroulant li a
    {
      display:block;
      color:white;
      text-decoration:none;
      padding:10px;
    }

    #cMenuDeroulant li a:hover
    {
      background-color:#D3D3D3;
      border-color:#696969 #DCDCDC #DCDCDC #696969;
    }

    #cMenuDeroulant ul li
    {
      display: none;
    }

    #cMenuDeroulant:hover ul li
    {
      display: block;
    }

#cMoi
{
  display: block;
  width: 100%;
}

    #cMoi1
    {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
    }

    #cPhoto
    {
      display: inline-flex;
      width: 30%;
      align-items: center;
      justify-content: center;

    }

    #cMoiText
    {
      display: block;
      width: 70%;
      height: 100%;
    }

    #cMoiText a
    {
      text-align: left;
    }

#cExp
{
  display: block;
  width: 100%;
  background-color: #F4F4F4;
}

    .cExp1
    {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

    }

    .cTitreDate
    {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 10px 50px;
    }

    .cTitre
    {
      display: flex;
      width: 65%;
      background-color: #748384;
      padding-left: 10px;
    }

    .cDate
    {
      display: flex;
      width: 30%;
      background-color: #748384;
    }

#cComp
{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: #F4F4F4; */
}

    progress
    {
      /* background: grey; */
      width: 40%;
      /* Fait disparaitre le fond pour Firefox et Chrome */
      appearance: none;
	    -moz-appearance: none;
	    -webkit-appearance: none;
    }

    #cComp li
    {
      list-style-type: none;
    }

    .cCompt1
    {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .cCompDetail
    {
      display: block;
      width: 49%;
      text-align: center;
    }

    .ligne
    {
      width: 2px;
      height: 90%;
      background: #808080;
    }

#cForm
{
  display: block;
  width: 100%;
  background-color: #F4F4F4;
}

    .cForm1
    {
      display: flex;
      width: 100%;
      padding: 10px 0;
      justify-content: center;

    }

    .cFormDate
    {
      display: inline-flex;
      width: 20%;
      background-color: #748384;
      align-items: center;
      justify-content: center;
      border: 2px black solid;
    }

    .cFormTitre
    {
      display: block;
      width: 65%;
      background-color: white;
      padding-left: 10px;
      border: 2px black solid;
    }

#cCont
{
  display: block;
  width: 100%;
}

    #cCont div
    {
      text-align: center;
    }

    #mail
    {
      display: inline-block;
      width: 33%;
    }

    #tel
    {
      display: inline-block;
      width: 33%;
    }


    #git
    {
      display: inline-block;
      width: 33%;
    }

#mail:hover, #tel:hover, #git:hover
{
  /* Rotation des image au survol */
  /* -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg); */

  /* Zoom de 10% de l'image au survol */
  -webkit-transform:scale(1.10); /* Safari et Chrome */
  -moz-transform:scale(1.10); /* Firefox */
  -ms-transform:scale(1.10); /* Internet Explorer 9 */
  -o-transform:scale(1.10); /* Opera */
  transform:scale(1.10);
}

/* Cache le menu deroulant à moins de 500px */
@media screen and (min-width: 500px)
{
  #cMenuDeroulant
  {
    display : none;
  }

}

@media screen and (max-device-width: 1000px)
{
  #mail, #tel, #git
  {
    width: 100%;
  }
}

/* Cache le menu classique à moins de 500px */
@media screen and (max-device-width: 500px)
{
  /* Enlève le paragraphe de l'en-tête */
  #cMenu, #cPhoto, .ligne
  {
    display: none;
  }

  #cMoiText
  {
    width: 100%;
    text-align: center;
  }

  .cCompDetail
  {
    width: 90%;
  }

  #mail, #tel, #git
  {
    width: 100%;
  }

}
