body
{
  margin: 0;
}

#cMenu a
{
  text-decoration: none;
  color: white;
  width: 100%;
}

#cGlobal
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#cEnTete
{
  display: block;
  background-color: #677273;
  color: white;
  width: 100%;
  text-align: center;
}

#cMenu
{
  display: flex;
  width: 100%;
}

.cBouton
{
  display: block;
  background-color: #555D5E;
  text-align: center;
  padding: 10px;
  width: auto;
}

.cBouton:hover
{
  background-color:#D3D3D3;
  border-color:#696969 #DCDCDC #DCDCDC #696969;
}

#cMenuDeroulant
{
  display: block;
  color: white;
  background-color: #555D5E;
  width: 100%;
  padding:10px;
  text-align: center;
}

#cMenuDeroulant p
{
  margin: auto;
}

#cMenuDeroulant ul
{
  display: inline;
  list-style-type:none;
  width: 100%;
}

#cMenuDeroulant li
{
  background-color: #555D5E;
}

#cMenuDeroulant li a
{
  display:block;
  color:white;
  text-decoration:none;
  padding:10px;
}

#cMenuDeroulant li a:hover
{
  background-color:#D3D3D3;
  border-color:#696969 #DCDCDC #DCDCDC #696969;
}

#cMenuDeroulant ul li
{
  display: none;
}

#cMenuDeroulant:hover ul li
{
  display: block;
}

#cExp
{
  display: block;
  width: 100%;
}

#cComp
{
  display: block;
  width: 100;
  background-color: #F4F4F4;
}

#cDipl
{
  display: block;
  width: 100%;
}

#cInt
{
  display: block;
  width: 100%;
  background-color: #F4F4F4;
}

#cCont
{
  display: block;
  width: 100%;
}



/* Cache le menu deroulant à moins de 500px */
@media screen and (min-width: 500px)
{
  #cMenuDeroulant
  {
    display : none;
  }
}

/* Cache le menu classique à moins de 500px */
@media screen and (max-device-width: 500px)
{
  /* Enlève le paragraphe de l'en-tête */
  #cMenu
  {
    display: none;
  }
}
